body {
	height: 100%;
	display: flex;
	justify-content: center;
}

form {
	margin: 0;
}

.list {
	height: 100%;
	display: grid;
	grid-template-rows: 
		[cabecalho] 70px
		[pesquisa] 70px 
		[tabela] 1fr
		[footer] 70px;
	grid-template-columns: 1fr;
}

.cabecalho {
	padding:0 15px 0 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.inputText {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tabela {
	display: flex;
	justify-content: center;
	padding: 20px; 
}

.formLabel {
	margin-right: 10px;
}

.formButton {
	margin-left: 15px;
}

.cabecalhoForm{
	padding:15px;
}

#accName, #marcaName, #searchInput {
	width:50vw;
}

#tableCars, #tableMarcas, #tableAcess {
	width:70vw;
}

.formContainer {
	padding: 0px 50px 0 50px;
}

#formulario {
	display: flex;
	justify-content: center;
}

@media (min-width: 1000px) {
	#accName, #marcaName, #searchInput {
		width: 500px;
	}

	#tableCars, #tableMarcas, #tableAcess {
		width:900px;
	}
}

@media (min-width: 1200px) {
	.formContainer {
		width:1200px;
	}
}


/* _________ */

h4 {
	padding-bottom:30px;
}

img {
	height: 15px;
	width:15px;
}

#submitButton {
	width:100px;
}

#formCadastro {
	width:100%;
	text-align: center;
}

#marca {
	font-size:15px;
	height:38px;
}

#addCarIcon {
	margin-left: 15px;
	width: 35px;
	height: 35px;
}

.component {
	float:left;
	padding-left:60px;
	padding-right:60px;
}

.accessorie {
	margin:10px;
}

.align {
	width:140px;
	display: inline;
}

.backButton {
	margin-left: 5px;
}

.btn1 {
	height:40px;
	width:40px;
}

.alignCenter {
	width:80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.errorMessage {
	padding:0;
	margin-bottom:-5px;
	margin-top:-20px;
	font-size:15px;
	color:red;
}

.errorBox {
	text-align: left;
}
