h4 {
	padding-bottom:30px;
}

img {
	height: 15px;
	width:15px;
}

footer {
	margin-bottom:50px;
}

#tableb {
	margin-top:10px;
	width:70%;
}

#tablec {
	width:60%;
}

#menu {
	position: absolute; 
	top: 20px; 
	right:15px;
}

#submitButton {
	width:100px;
}

#formCadastro {
	width:100%;
	text-align: center;
}

#navBar {
	margin-right: auto;
	margin-left: auto;
}

#marca {
	font-size:15px;
	height:38px;
}

#accName, #marcaName, #searchInput {
	width:700px;
}

#dropdownMenuButton {
	margin-top:7px;
	margin-right: 27px;
}

#addImage {
	margin-left: 20px;
	width: 35px;
	height: 35px;
	margin-bottom: 7px;
}

.component {
	float:left;
	padding-left:60px;
	padding-right:60px;
}

.accessorie {
	margin:10px;
}

.pagePadding {
	border:0px;
	margin:0px;
	padding: 20px;
	width:100%;
}

.margin_ {
	margin-left:25px;
	margin-right:25px;
}

.align {
	width:140px;
	display: inline;
}

.backButton {
	width:100px;
}

.btn1 {
	height:40px;
	width:40px;
}

.alignCenter {
	width:80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.errorMessage {
	padding:0;
	margin-bottom:-5px;
	margin-top:-20px;
	font-size:15px;
	color:red;
}

.errorBox {
	text-align: left;
}
